body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.wrapper {
  padding: 40px;
}

.input {
  min-height: 100%;
}

.data {
  min-height: 100%;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.lock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lock > img {
  margin-right: 8px;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatWindow {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 500px;
  background: rgb(233, 236, 239);
  border: 1px solid #333;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 28px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
